body{
    margin-top: 0;
    
}

.pattern{
    height: 80px;
    background-color: #4ea0ff;
    background-image: url(img/pattern.png);
    background-size: auto 80px;
    
}

.logo{
    margin-top: 40px;
    height: 40px;   
}

h1{
    margin-bottom: 0px;
}

.autore{
    color: #959595;
    margin: 0%;
}

.celeste{
    color: #5DC0EC;
}
.data{
    margin: 0px;
    color: #959595;
    margin-bottom: 50px;
}

.immagine{
    width: 49%;
    height: 500px;
    object-fit: cover;
}

.fonte{
    margin: 0%;
    font-size: smaller;
}
.evidenziato{
    background-color: yellow;
}

table{
    border-collapse: collapse;
}

thead{
    color: white;
    background-color: #20A9E5;
}

.row1{
    width: 300px;
    text-align: left;
}

.row2{
    width: 300px;
    text-align: left;
}
.row3{
    text-align: left;
}
td{
    text-align: left;
}
.celestino1{
    background-color: #B1E5F2;
}

.una{
    color: white;
    font-size: 27px;
    font-weight: bold;
    background-image: url(img/monitor.jpg); 
    width: 312px;
    height: 208px;
    margin-top: 20px;
    line-height: 50px;
}

.due{
    color: white;
    font-size: 27px;
    font-weight: bold;
    background-image: url(img/graph.jpg);
    width: 311px;
    height: 207px;
    margin-top: 20px;
    line-height: 50px;
}