body{
    margin-top: 0;
    
}

.pattern{
    height: 80px;
    background-color: #4ea0ff;
    background-image: url(img/pattern.png);
    background-size: auto 80px;
    
}

.logo{
    margin-top: 40px;
    height: 30px;   
}

h1{
    margin-bottom: 0px;
}

.autore{
    color: #959595;
    margin: 0%;
}

.celeste{
    color: #5DC0EC;
}
.data{
    margin: 0px;
    color: #959595;
    margin-bottom: 20px;
}

.fonte{
    margin: 0%;
    font-size: smaller;
}
.evidenziato{
    background-color: yellow;
}
